.action {
  font-weight: 700;
  font-size: clamp(0.6rem, 3vw, 1rem);
  padding: 0.5em 1em;
  border-radius: 50vw;
  cursor: pointer;
  border: none
}

.light {
  transition: background-color 0.3s ease-out;
  border: 1px solid var(--muted-light);
  background-color: white;
}

.dark {
  background-color: black;
  color: white;
  transition: filter 0.3s ease-out;
}

.primary {
  color: white;
  background-color: var(--primary-color);
}

.light:hover {
  background-color: var(--muted-light);
}

.primary:hover {
  filter: brightness(0.9);
}

.dark:hover {
  filter: opacity(.85);
}