.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  text-align: center;
}

.heading {
  max-width: 350px;
  font-size: 2rem;
  width: 100%;
  margin: 0.5rem auto;
}

.text {
  max-width: 350px;
  color: var(--muted-color);
}