.images:not(:empty) {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  justify-content: center;
  gap: 2px;
  overflow: hidden;
  background-color: white;
  height: 300px;
}


.imaWrapper {

  display: flex;
  width: 49%;
  flex: 1 1 auto;
  position: relative;
  align-items: center;
  justify-content: center;
  max-height: 100%;
}

.images-3 .imaWrapper,
.images-4 .imaWrapper {
  max-height: 50%;
}

.imaWrapper .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.remove {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute !important;
  top: 15px;
  right: 20px;
  height: 30px;
  width: 30px;
  aspect-ratio: 1;
  font-size: 1.2rem;
  border-radius: 50vw;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}

.remove i {
  display: flex;
}

.remove:hover {
  background-color: rgba(0, 0, 0, 0.7);
}