.coverImg {
  height: 200px;
  max-height: 33vw;
}

.personalInfo {
  margin-top: -14%;
  padding: 18px;
}

.rowSB {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

}

.avatar {
  width: 132px;
  height: 132px;
  max-height: 22vw;
  max-width: 22vw;
  border: 5px solid white;
  border-radius: 50%;
}

.action {
  margin-bottom: 1.4em;
}

.nameRow {
  padding: 0.8em 0 0.1em 0;
}

.name {
  font-weight: 700;
  font-size: 1.4rem;
  color: black;
}

.userName {
  font-size: 0.8rem;
  color: var(--muted-color);
}

.contacts,
.otherInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  font-size: 0.95rem;
}

.contacts a,
.otherInfo p {
  display: flex;
  align-items: center;
  margin: 5px 0;
  color: var(--muted-color);
  /* gap: 5px;  // Not working in iPhone6*/
  margin-right: 0.25em;
}

.contacts>a:first-child,
.otherInfo>p:first-child {
  margin-right: 13px;
}

.otherInfo p i {
  font-size: 1rem;
  margin-right: 0.25em;
}

.contacts {
  font-size: 0.9rem;
}

.contacts .count {
  font-weight: 700;
  margin-right: 5px;
  color: black;
}

.contacts a {
  /* gap: 4px; Not working in iPhone 6 */
  text-decoration: none;
  position: relative;
}

.contacts a::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: black;
  left: 50%;
  bottom: 10%;
  width: 0;
  transition: width 0.3s ease-out, left 0.3s ease-out;
}

.contacts a:hover::after {
  left: 0;
  width: 100%;
}

.invalidUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3vw;
}

.invalidUser h2 {
  margin: 0;
}

.invalidUser p {
  color: var(--muted-color);
  font-size: 0.9rem;
}

.inputElement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(5px + 1vw);
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.saving {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio {
  white-space: pre-line
}