.widget {
  margin: 10px 20px;
  position: relative;
  z-index: 99999;
}

.search {
  border-radius: 50vh;
  background-color: var(--white-dim);
  overflow: hidden;
  flex: 1;
  display: flex;
  padding: 0 10px;
  align-items: center;
  border: 1px solid transparent
}

.search i {
  padding: 10px;
  color: var(--muted-color);

}

.search input {
  flex: 1;
  padding: 10px 0;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  height: 100%;
  outline: none;
}

.search input::placeholder {
  color: var(--muted-color);
}

.search:focus-within {
  border-color: var(--primary-color);
  background-color: #fff;
}

.search:focus-within i {
  color: var(--primary-color);
}

.search input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background:
    radial-gradient(circle at center, rgba(250, 250, 250, 0) 0%, rgba(255, 255, 255, 0) 50%, var(--primary-color) 50%, var(--primary-color) 100%),
    linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 45%, #fff 46%, #fff 54%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 45%, #fff 46%, #fff 54%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(circle at center, var(--primary-color), var(--primary-color));
  padding: 4px;
  border-radius: 50%;
  cursor: pointer;
}

.searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.placeholder {
  color: var(--muted-color);
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
  padding: 15px;
}

.bottomLink {
  text-decoration: none;
  padding: 15px;
  color: var(--primary-color);
}

.bottomLink:hover {
  background-color: var(--muted-lightest);
}

.blur {
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

}