.sidebar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 2px 8px;
  width: 90%;
}

.logo {
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 0.7rem !important;
  width: 55px;
  height: 55px;
  margin-bottom: 3px;
  border-radius: 50vw;
}

.logo:hover {
  background-color: transparent !important;
  background-image: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), linear-gradient(var(--primary-color), var(--primary-color));
}

.sidebarItems {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

}

.options {
  flex: 1;
  width: 100%;
}

.profile {
  width: 100%;
  margin-bottom: 5px;
  position: relative;
}

.profile button {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
  width: 100%;
  border: none;
  border-radius: 50vw;
  background-color: transparent;
  cursor: pointer;
  z-index: 51;
  position: relative;
}

.profile button:hover {
  background-color: rgba(15, 20, 25, 0.1)
}

.profile button .userAvatar {
  width: 45px;
  height: 45px;
}

.profile button .userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1;
  text-align: left;
}

.profile button .userInfo :first-child {
  font-weight: 700;
  font-size: 0.95rem;
  color: black;
}

.profile button .userInfo :last-child {
  font-size: 0.85rem;
  color: var(--muted-color)
}

.profile button .action {
  font-size: 1.2rem;
  padding: 0.3rem;
}

/*to remove some bottom space*/
.profile button .action i {
  display: flex;
}

.optionBoxBg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  z-index: 50;
  top: 0;
  left: 0;
}


.optionBox {
  /* background-color: aqua; */
  position: absolute;
  display: none;
  background-color: white;
  z-index: 99;
  top: 0;
  transform: translateY(-120%);
  width: 235px;
  max-width: 100vw;
  border-radius: 15px;
  padding: 12px 0;
  filter: drop-shadow(0px 0px 3px rgba(101, 119, 134, 0.15)) drop-shadow(0px 0px 15px rgba(101, 119, 134, 0.20));
}

.optionBox li {
  list-style: none;
}

.optionBox li button {
  border-radius: 0%;
  padding: 12px 20px;
}

.optionBox::before {
  content: '';
  background-color: white;
  width: 15px;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 95%);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

[data-toggle] [data-btnid="profileBtn"] {
  background-color: rgba(15, 20, 25, 0.1)
}

[data-toggle] .optionBox,
[data-toggle] .optionBoxBg {
  display: initial;
}

@media screen and (max-width: 1265px) {
  .optionBox::before {
    left: 32px;
  }

  .sidebarItems {
    align-items: center;

  }

  .sidebar {
    width: 100%;
  }

  .profile button .userInfo {
    display: none;
  }

  .profile button .action {
    display: none;
  }
}

@media screen and (max-width: 499px) {

  .logo,
  .userPageOption {
    display: none;
  }

  .tweetBtn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    margin-bottom: 60px;
  }

  .tweetBtn button {
    width: 60px;
    height: 60px;
  }

  .tweetBtn button i {
    font-size: 1.6rem;
  }

  .profile {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
  }

  .profile button .userAvatar {
    width: 35px;
    height: 35px;
  }

  .basicAction {
    position: fixed;
    flex-direction: row;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid var(--muted-light);
  }

  .basicAction a {
    flex: 1;
    background-color: white;
    border-radius: 0 !important;
  }

  .sidebar {
    width: 0;
    padding: 0;
  }

  .out {
    display: none;
  }

}