.userCoverImg {
  width: 100%;
  aspect-ratio: 3 / 1;
  background-color: var(--primary-color-light);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), linear-gradient(to right, var(--primary-color), var(--primary-color));
}