@import '~bootstrap-icons/font/bootstrap-icons.css';


* {
  box-sizing: border-box;
}

html {
  --primary-color: #1D9BF0;
  --muted-color: #536471;
  --muted-light: rgba(15, 20, 25, 0.1);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}