@import '~bootstrap-icons/font/bootstrap-icons.css';


* {
  box-sizing: border-box;
}

html {
  --primary-color: #1D9BF0;
  --primary-color-light: #1d9cf0a2;
  --muted-color: #536471;
  --muted-light: rgba(15, 20, 25, 0.1);
  --muted-lightest: rgba(15, 20, 25, 0.04);
  --white-dim: #f2f5f7;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

[data-title]:hover:after {
  opacity: 1;
  transition: opacity 0.3s ease 0.5s, visibility 0.3s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  white-space: nowrap;
  position: absolute;
  font-size: 0.6rem;
  font-weight: 400;
  font-style: normal;
  padding: 3px 5px;
  border-radius: 2px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
}

[data-title] {
  position: relative;
}

.right-sidebar {
  position: sticky;
  top: 0;
}