* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}